@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&family=Roboto&display=swap');

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  touch-action: pan-y;
  scroll-behavior: smooth;
}

@layer base {

  html,
  body {
    @apply max-w-full overflow-x-hidden overscroll-x-none touch-pan-y;
  }
}